# Environment & Secrets
.env
.env.*
*.pem
*.key
config.secret.js
credentials/
.ssh_temp/

# OS / Editor files
.DS_Store
Thumbs.db
*.tmp
.vscode/
.idea/

# Node dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Large Presentations, Videos & Temp Files
*.pptx
*.ppt
sample/portfolio/07_jihyun/work_images/bx/jihyunparkhomepage/*.mp4
